@model List<ProyectoTalleres.Models.Inscripcion>

<h2>Lista de Inscripciones</h2>

@if (TempData["mensaje"] != null)
{
    <div class="alert alert-success">@TempData["mensaje"]</div>
}

<a class="btn btn-primary mb-3" href="/Inscripcion/Crear">Nueva Inscripción</a>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Correo</th>
            <th>Taller</th>
            <th>Nivel</th>
            <th>Fecha</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var i in Model)
        {
            <tr>
                <td>@i.Nombre @i.Apellidos</td>
                <td>@i.Correo</td>
                <td>@i.Taller</td>
                <td>@i.NivelExperiencia</td>
                <td>@i.FechaTaller.ToShortDateString()</td>
            </tr>
        }
    </tbody>
</table>